body 
{
    margin: 0; 
    padding: 0;
} 

/* slide image */ 

.text-slide 
{
    width: 100%;
    height: 320px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-slide-item 
{
    margin: 0; 
    padding: 0;
}  

#text 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: black; 
    font-size: 50px; 
    margin: 0;
    padding: 0;
} 

/* Nav bar */ 

.nav 
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.nav ul 
{
    margin: 0; 
    padding: 0;
} 

.nav ul li 
{
    display: inline-block; 
    list-style: none; 
    margin: 0 20px; 
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 20px;
}   

.nav ul li:hover 
{
    color: pink; 
    font-size: 22px;
}

/* hidden nav bar */ 

#nav_two 
{
    width: 100%;
    height: 80px;
    display: none;
    position: fixed; 
    top: 0; 
    background-color: white; 
    z-index: 1;
    justify-content: center;
    align-items: center; 
    margin: 0;
} 

#nav_two ul 
{
    margin: 0;
    padding: 0;
} 

#nav_two ul li 
{
    display: inline-block; 
    list-style: none; 
    margin: 0 20px; 
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 20px;
}  

#nav_two ul li:hover 
{
    color: pink; 
    font-size: 22px;
}

/* profile */ 

#profile_header 
{   
    margin-top: 160px;
    text-align: center;
    font-size: 30px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-style: normal; 
    opacity: 0;
}

#profile 
{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: row;
    opacity: 0;
}

#profile_shape 
{
    width: 200px;
    height: 200px;
    background-color:teal;  
    margin: 0 40px;
} 

#profile_item 
{
    width: 60%; 
    margin: 0 40px; 
    padding: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 16px;
    text-align: justify;
}    

/* profile media screen */

@media (max-width: 950px) {
    #profile
    {
        flex-direction: column;
    } 

    #profile_item 
    {
        margin: 20px 0px;
    }
}

/* Work */ 

.Experience 
{
    margin-top: 160px;
    text-align: center;
    font-size: 30px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    text-align: center; 
}

.Work 
{   
    margin-top: 120px; 
    margin-bottom: 120px;
    width: 100%;  
    height: 350px;
} 

#Work_item 
{   
    width: 50%; 
    position: absolute; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    flex-direction: row;   
    left: 100px; 
    opacity: 0; 
    
} 

.work_item_one_image 
{
    background-image: url('./Images/Interactive_Media_group.png'); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    width: 200px;
    height: 200px; 
    margin-right: 40px;
}

.work_item_one_work 
{
    width: 500px;
    text-align: justify; 
    margin-left: 40px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   

/* sec */

.Work_two 
{   
    margin-top: 120px; 
    margin-bottom: 120px;
    width: 100%;  
    height: 350px; 
} 

#Work_item_two 
{   
    width: 50%;   
    display: flex;  
    position: absolute;
    justify-content: space-between;
    align-items: center;  
    right: 100px;
    flex-direction: row;  
    opacity: 0;  
    
} 

.work_item_two_image 
{
    background-image: url('./Images/Surrey_Counry_Council.jpeg'); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    width: 200px;
    height: 200px; 
    margin-right: 40px;
}

.work_item_two_work 
{
    width: 500px;
    text-align: justify; 
    margin-left: 40px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}    

/* thrid */ 

.Work_third 
{   
    margin-top: 120px; 
    margin-bottom: 120px;
    width: 100%;  
    height: 350px; 
} 

#Work_item_third 
{   
    width: 50%;   
    display: flex;  
    position: absolute;
    justify-content: space-between;
    align-items: center;  
    left: 100px;
    flex-direction: row;  
    opacity: 0; 
    
} 

.work_item_third_image 
{
    background-image: url('./Images/solent_university_name.png'); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    width: 200px;
    height: 200px; 
    margin-right: 40px;
}

.work_item_third_work 
{
    width: 500px;
    text-align: justify; 
    margin-left: 40px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   

/* four */ 

.Work_four 
{   
    margin-top: 120px; 
    margin-bottom: 120px;
    width: 100%;  
    height: 350px; 
} 

#Work_item_four 
{   
    width: 50%;   
    display: flex;  
    position: absolute;
    justify-content: space-between;
    align-items: center;  
    right: 100px;
    flex-direction: row;  
    opacity: 0; 
    
} 

.work_item_four_image 
{
    background-image: url('./Images/Royal_Automobile_Club_Logo.jpeg'); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    width: 200px;
    height: 200px; 
    margin-right: 40px;
}

.work_item_four_work 
{
    width: 500px;
    text-align: justify; 
    margin-left: 40px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  

/* media screen size  */



/* Education */  

.Education_header 
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}  

#Education_one 
{
    width: 100%; 
    height: 250px; 
    margin-top: 60px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: row; 
    opacity: 0;
} 

.Education_one_image
{
    width: 150px;
    height: 150px; 
    background-color: red; 
    margin-right: 20px;
} 

.Education_one_info 
{
    width: 300px; 
    margin-left: 20px; 
    font-size: 16px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: justify;
} 

#Education_two 
{
    width: 100%;
    height: 250px; 
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    opacity: 0;
}  

.Education_two_image 
{
    width: 150px;
    height: 150px; 
    background-color: red; 
    margin-right: 20px;
} 

.Education_two_info 
{
    width: 300px; 
    margin-left: 20px; 
    font-size: 16px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: justify;
}

/* Projects */

#project_heading 
{   
    margin-top: 240px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 30px;
    text-align: center; 
}

#ProjectWorkedOn
{
    width: 100%; 
    margin: 140px 0;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 18px;
}  

#ProjectWorked_item_1 
{   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: justify; 
    opacity: 0;
} 

#ProjectWorked_item_2 
{   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: justify; 
    opacity: 0;
} 

#ProjectWorked_item_3 
{   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: justify;
    opacity: 0;
}

.ProjectWorkedOn_gif 
{   
    
    width: 150px;
    height: 150px;  
    margin: 10px 0;
    background-color: fuchsia;
} 

#hobbies_heading 
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 30px;
} 

.hobbies 
{
    display: flex;  
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.hobbies ul 
{
    padding: 0px;
} 

.hobbies ul li 
{
    list-style: none; 
    margin: 10px 0;  
    padding: 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;  
    color: black;
    text-align: center;
}

.hobbies ul li:hover
{
    color: pink; 

} 

/* footer */

footer
{
    width: 100%;
    height: 70px;
    background-color: pink; 
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly; 
    align-items: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  

.footer_item  
{
    margin: 0;
    padding: 0;
} 

.footer_item_list 
{
    
} 

.footer_item_list ul 
{
   
} 

.footer_item_list ul li 
{
    list-style: none; 
    display: inline-block; 
    margin: 0 10px;  
    padding: 0 10px;
    color: black;
} 

.footer_item_list ul li a 
{
    color: black;
    text-decoration: none;
}

.footer_item_list ul li a:hover
{
    color: white;
}




